In [155]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
path_to_insults = '/Users/dattasainathd/Downloads/'
data2 = pd.read_csv(path_to_insults + 'user_proposal.csv',na_values='0', encoding = "ISO-8859-1", nrows = 50)
data2['Value'] = 0
data2['user'] = 1

In [156]:
data2 = data2.drop('created_at', axis=1)
data2.verified=data2.verified.astype(int)
data2.default_profile=data2.default_profile.astype(int)
data2.default_profile_image=data2.default_profile_image.astype(int)
data2.followers_count=data2.followers_count.astype(int)
data2 = data2.drop('status', axis=1)
data2 = data2.drop('id', axis=1)
data2 = data2.drop('id_str', axis=1)
data2 = data2.drop('url', axis=1)
#data2 = data2[data2.verified != 1]
data2 = data2.drop('Has_extended_profile', axis=1)

data2.location.fillna('', inplace=True)
data2.description.fillna('', inplace=True)
data2.followers_count.fillna(0, inplace=True)
data2.friends_count.fillna(0, inplace=True)
data2.listed_count.fillna(0, inplace=True)
data2.statuses_count.fillna(0, inplace=True)
data2.favourites_count.fillna(0, inplace=True)

print("Did all the necessary changes for the data for manipulation")

Did all the necessary changes for the data for manipulation

In [157]:
data_description = data2['description'].str.lower()
data_name = data2['name'].str.lower()
data_screen_name = data2['screen_name'].str.lower()
bot = 'bot'
count = 0
serial = -1
for x in data_screen_name:
    serial = serial + 1
    if bot in x:
        data2.ix[serial, 'Value'] = 2
        count += 1
serial = -1

for x in data_name:
    serial = serial + 1
    try:
        if bot in x:
            data2.ix[serial, 'Value'] = 2
            count += 1
    except:
        pass

serial = -1

for x in data_description:
    serial = serial + 1
    try:
        if bot in x:
            data2.ix[serial, 'Value'] = 2
            count += 1
    except:
        pass

print("trying to search for 'bot' in names, screen_names & description")
print("if existed, we shall change value to 2")
print(count)

trying to search for 'bot' in names, screen_names & description
if existed, we shall change value to 2
0

In [158]:
#trying to remove accounts with zero followers/zero friends/zero tweets
#Bias obtained from given data
serial = -1
count = 0
unnec = []
for x in range(0, 575):
    try:
        serial = serial + 1
        if(1):
            if(data2.loc[serial, 'statuses_count']==0 or data2.loc[serial, 'followers_count']==0 or 
               data2.loc[serial, 'friends_count']==0 ):
                data2.loc[serial, 'Value'] = 3
                count+=1
    except:
        pass
print("trying to search for accounts with followers, friends or tweets in 0")
print("if there is some accounts like that we will consider them as 'starter' humans and assign value 2")
print(count)

trying to search for accounts with followers, friends or tweets in 0
if there is some accounts like that we will consider them as 'starter' humans and assign value 2
0

In [159]:
#trying to filter accounts usually used by comman man (not celebrities or verified users)
serial = -1
count = 0
unnec = []
for x in range(0, 575):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'Value']==0):
            if((data2.loc[serial, 'statuses_count']/data2.loc[serial, 'followers_count']<12 
                or data2.loc[serial, 'statuses_count']/data2.loc[serial, 'friends_count']<12)):
                data2.loc[serial, 'Value'] = 3
                count+= 1
    except:
        pass
print("trying to filter accounts usually used by comman man (not celebrities or verified users)")
print("comman users have low tweet/following or tweet/friends and assigned value 3")
print(count)

trying to filter accounts usually used by comman man (not celebrities or verified users)
comman users have low tweet/following or tweet/friends and assigned value 3
50

In [160]:
#trying to filter accounts which are verified all the verified user accounts are humans
#because twitter verifies users only 
serial = -1
count = 0
unnec = []
for x in range(0, 575):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'verified']==1):
            data2.loc[serial, 'Value'] = 3
            count+= 1
    except:
        pass
print("trying to filter accounts which are verified all the verified user accounts are humans")
print("twitter user accounts which are verified are assigned to value 3")
print(count)

trying to filter accounts which are verified all the verified user accounts are humans
twitter user accounts which are verified are assigned to value 3
26

In [161]:
#there might be some clever bots who dont have any description but follow huge number of poeople or they are followed
#by huge number.
serial = -1
count = 0
unnec = []
for x in range(0, 575):
    try:
        serial = serial + 1
        if(data.loc[serial, 'Value']==1 or data.loc[serial, 'Value']==0):
            if((data2.loc[serial, 'statuses_count']/data2.loc[serial, 'followers_count']>10 
                or data2.loc[serial, 'statuses_count']/data2.loc[serial, 'friends_count']>10)):
                data2.loc[serial, 'Value'] = 2
                count+= 1
    except:
        pass
print("huge tweeting accounts")
print("huge rate tweet accounts are considered bots and retained values 2")
print(count)

huge tweeting accounts
huge rate tweet accounts are considered bots and retained values 2
0

In [162]:
data2.head(2)

,screen_name,location,description,followers_count,friends_count,listed_count,favourites_count,verified,statuses_count,lang,default_profile,default_profile_image,name,bot,Value,user
0,varmagrk,"Hyderabad, Andhra Pradesh",b'AD in Tollywood #photography #Travelling #mu...,399,369,4.0,916.0,0,549,en,0,0,b'VarmaG',NaN,3,1
1,urstrulyMahesh,"Hyderabad, India",b'Actor in Indian Telugu Cinema',3002619,1,5042.0,0.0,1,1080,en,0,0,b'Mahesh Babu',NaN,3,1

In [163]:
serial = -1
count = 0
unnec = []
for x in range(0, 575):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'Value']==2):
            data2.loc[serial, 'Value'] = 0
        else:
            data2.loc[serial, 'Value'] = 1
        count+= 1
    except:
        pass
count

50

In [164]:
data_value = data2['Value']
datafinal = data2['user']
print("Accuracy Score: ", (accuracy_score(datafinal, data_value)))
cnf_matrix = confusion_matrix(datafinal, data_value)
print("Confusion Matrix:")
print(cnf_matrix)

Accuracy Score:  1.0
Confusion Matrix:
[[50]]

In [165]:
TP = 0
FP = 0
TN = 0
FN = 0

for i in range(len(data_value)): 
    if datafinal[i]==data_value[i]==1:
        TP += 1
        #print(i)
for i in range(len(data_value)): 
    if data_value[i]==1 and datafinal[i]!=data_value[i]:
        FP += 1
        #print(i)
for i in range(len(data_value)): 
    if datafinal[i]==data_value[i]==0:
        TN += 1
        #print(i)
for i in range(len(data_value)): 
    if data_value[i]==0 and datafinal[i]!=data_value[i]:
        FN += 1
        #print(i)

In [166]:
TP

50