In [98]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
path_to_insults = '/Users/dattasainathd/Downloads/'
data2 = pd.read_csv(path_to_insults + 'final_train_nonbot.csv',na_values='0', encoding = "ISO-8859-1", nrows = 1477)
data2['Value'] = 0
data2['user'] = 1

In [99]:
data2.head(2)

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,...,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot,Value,user
0,34716038.0,34716038,aaroncarter,Sony Recording Artist,NEW AARON CARTER MUSIC DOWNLOAD LINK LÃÃ¼VÃÃ...,NaN,571310.0,76070.0,4909.0,Thu Apr 23 20:15:49 +0000 2009,...,56077.0,en,"{u'contributors': None, u'truncated': False, u...",False,False,True,Aaron Carter,NaN,0,1
1,3013511.0,3013511,michellebranch,NaN,"singer/songwriter, hopeless romantic, drinker ...",https://t.co/2vSKw7cmzC,292385.0,963.0,6076.0,Fri Mar 30 20:58:59 +0000 2007,...,16688.0,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,Michelle Branch,NaN,0,1

In [100]:
data2 = data2.drop('created_at', axis=1)
data2.verified=data2.verified.astype(int)
data2.default_profile=data2.default_profile.astype(int)
data2.default_profile_image=data2.default_profile_image.astype(int)

data2 = data2.drop('status', axis=1)
data2 = data2.drop('id', axis=1)
data2 = data2.drop('id_str', axis=1)
data2 = data2.drop('url', axis=1)
#data2 = data2[data2.verified != 1]
data2 = data2.drop('has_extended_profile', axis=1)

data2.location.fillna('', inplace=True)
data2.description.fillna('', inplace=True)
data2.followers_count.fillna(0, inplace=True)
data2.friends_count.fillna(0, inplace=True)
data2.listedcount.fillna(0, inplace=True)
data2.statuses_count.fillna(0, inplace=True)
data2.favourites_count.fillna(0, inplace=True)
data2.followers_count=data2.followers_count.astype(int)

print("Did all the necessary changes for the data for manipulation")

Did all the necessary changes for the data for manipulation

In [101]:
data_description = data2['description'].str.lower()
data_name = data2['name'].str.lower()
data_screen_name = data2['screen_name'].str.lower()
bot = 'bot'
count = 0
serial = -1
for x in data_screen_name:
    serial = serial + 1
    if bot in x:
        data2.ix[serial, 'Value'] = 2
        count += 1
serial = -1

for x in data_name:
    serial = serial + 1
    try:
        if bot in x:
            data2.ix[serial, 'Value'] = 2
            count += 1
    except:
        pass

serial = -1

for x in data_description:
    serial = serial + 1
    try:
        if bot in x:
            data2.ix[serial, 'Value'] = 2
            count += 1
    except:
        pass

print("trying to search for 'bot' in names, screen_names & description")
print("if existed, we shall change value to 2")
print(count)

trying to search for 'bot' in names, screen_names & description
if existed, we shall change value to 2
38

In [102]:
#trying to remove accounts with zero followers/zero friends/zero tweets
#Bias obtained from given data
serial = -1
count = 0
unnec = []
for x in range(0, 1477):
    try:
        serial = serial + 1
        if(1):
            if(data2.loc[serial, 'statuses_count']==0 or data2.loc[serial, 'followers_count']==0 or 
               data2.loc[serial, 'friends_count']==0 ):
                data2.loc[serial, 'Value'] = 3
                count+=1
    except:
        pass
print("trying to search for accounts with followers, friends or tweets in 0")
print("if there is some accounts like that we will consider them as 'starter' humans and assign value 3")
print(count)

trying to search for accounts with followers, friends or tweets in 0
if there is some accounts like that we will consider them as 'starter' humans and assign value 3
26

In [103]:
#trying to filter accounts usually used by comman man (not celebrities or verified users)
serial = -1
count = 0
unnec = []
for x in range(0, 1477):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'Value']==0):
            if((data2.loc[serial, 'statuses_count']/data2.loc[serial, 'followers_count']<12 
                or data2.loc[serial, 'statuses_count']/data2.loc[serial, 'friends_count']<12)):
                data2.loc[serial, 'Value'] = 3
                count+= 1
    except:
        pass
print("trying to filter accounts usually used by comman man (not celebrities or verified users)")
print("comman users have low tweet/following or tweet/friends and assigned value 3")
print(count)

trying to filter accounts usually used by comman man (not celebrities or verified users)
comman users have low tweet/following or tweet/friends and assigned value 3
1325

In [104]:
#trying to filter accounts which are verified all the verified user accounts are humans
#because twitter verifies users only 
serial = -1
count = 0
unnec = []
for x in range(0, 1477):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'verified']==1):
            data2.loc[serial, 'Value'] = 3
            count+= 1
    except:
        pass
print("trying to filter accounts which are verified all the verified user accounts are humans")
print("twitter user accounts which are verified are assigned to value 3")
print(count)

trying to filter accounts which are verified all the verified user accounts are humans
twitter user accounts which are verified are assigned to value 3
645

In [105]:
#there might be some clever bots who dont have any description but follow huge number of poeople or they are followed
#by huge number.
serial = -1
count = 0
unnec = []
for x in range(0, 1477):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'Value']==1 or data2.loc[serial, 'Value']==0):
            if((data2.loc[serial, 'statuses_count']/data2.loc[serial, 'followers_count']>10 
                or data2.loc[serial, 'statuses_count']/data2.loc[serial, 'friends_count']>10)):
                data2.loc[serial, 'Value'] = 2
                count+= 1
                print(serial)
                print(data2.loc[serial, 'statuses_count']/data2.loc[serial, 'followers_count'])
                print(data2.loc[serial, 'statuses_count']/data2.loc[serial, 'friends_count'])
                
    except:
        pass
print("huge tweeting accounts")
print("huge rate tweet accounts are considered bots and retained values 2")
print(count)

4
39.1517027864
56.7085201794
7
23.1930379747
38.171875
24
22.85
17.9215686275
40
40.1592920354
16.2071428571
49
14.8350515464
13.7047619048
56
28.1592356688
15.7330960854
67
120.401129944
179.084033613
104
16.9830508475
14.9552238806
105
21.7962962963
13.2247191011
221
64.7045454545
118.625
246
23.5789473684
149.333333333
247
40.1226912929
46.503058104
261
21.1255605381
23.0554649266
268
47.1403508772
29.9665427509
279
132.239130435
506.916666667
310
53.7591660676
156.769392034
330
33.4285714286
21.2727272727
331
40.037037037
40.5375
338
55.4824561404
49.4140625
392
36.1565217391
27.0
397
122.233333333
84.7861271676
410
148.615384615
169.05
411
14.0415400203
56.7991803279
435
59.8709677419
47.5897435897
444
22.2918424754
15.276626506
467
64.4407894737
40.643153527
470
24.4248704663
17.5895522388
487
25.3585526316
19.8174807198
492
15.4437320736
92.36629667
505
143.267241379
139.655462185
532
14.1369426752
16.3198529412
548
67.6877470356
133.26848249
557
25.0573870161
26.3806052416
559
25.0760295671
14.9634530561
576
50.9249011858
76.6904761905
604
42.5550906555
13.9515317787
616
50.8607594937
16.4672131148
617
21.9267878788
22.2559055118
621
21.6057441253
15.5838041431
636
17.3641618497
21.4571428571
640
17.1572327044
28.8677248677
655
50.9224683544
110.975862069
656
54.4743589744
103.634146341
662
20.9689119171
19.4567307692
665
137.304347826
16.1672354949
668
73.9012345679
92.3765432099
678
15.6086956522
14.8041237113
719
22.6912181303
35.2863436123
723
23.1686722415
114.550588235
738
15.3828125
14.8045112782
743
65.8349514563
45.9728813559
753
21.6818181818
14.2388059701
759
60.5888888889
87.9516129032
764
107.4
15.5652173913
799
127.666666667
180.235294118
813
72.4857142857
14.3333333333
820
45.0571428571
99.6
821
234.512195122
133.541666667
828
27.6895874263
54.416988417
869
46.0972222222
199.14
873
14.0897637795
20.4269406393
882
142.627906977
78.0563636364
899
13.4254079254
19.2948073702
900
22.7192982456
19.328358209
912
41.4761904762
58.625
914
26.7205882353
13.6616541353
944
75.3085106383
21.3544494721
961
32.8216080402
52.8866396761
970
946.285714286
1332.63905325
974
29.385026738
18.8184931507
1000
31.0657142857
38.2852112676
1011
45.3411552347
21.1439393939
1019
71.2558139535
33.3043478261
1020
57.4105960265
69.6305220884
1032
26.0827067669
24.4295774648
1038
37.2536764706
30.5210843373
1041
41.25
29.8064516129
1059
63.9740740741
194.078651685
1075
65.9882352941
16.7934131737
1077
66.2956521739
68.6846846847
1095
21.7253948967
39.7333333333
1124
25.4470588235
16.7674418605
1160
16.5527609136
25.0902716915
1165
24.2748815166
14.4281690141
1182
25.8145315488
14.0929018789
1192
18.7628032345
25.1299638989
1201
29.1409774436
93.3915662651
1219
61.2832244009
28.7617586912
1249
77.9095477387
26.7310344828
1284
40.0
16.9863013699
1309
26.7446808511
47.4339622642
1315
37.5128205128
37.0379746835
1334
62.4528301887
76.091954023
1360
16.140472879
70.3333333333
1377
120.985781991
223.929824561
1391
75.2436194896
193.035714286
1407
83.9521126761
40.9381868132
1414
37.0666666667
24.1739130435
1426
54.6176470588
42.2045454545
1463
30.8666666667
12.8611111111
huge tweeting accounts
huge rate tweet accounts are considered bots and retained values 2
100

In [106]:
data2

,screen_name,location,description,followers_count,friends_count,listedcount,favourites_count,verified,statuses_count,lang,default_profile,default_profile_image,name,bot,Value,user
0,aaroncarter,Sony Recording Artist,NEW AARON CARTER MUSIC DOWNLOAD LINK LÃÃ¼VÃÃ...,571310,76070.0,4909.0,37437.0,1,56077.0,en,0,0,Aaron Carter,NaN,3,1
1,michellebranch,,"singer/songwriter, hopeless romantic, drinker ...",292385,963.0,6076.0,1248.0,1,16688.0,en,0,0,Michelle Branch,NaN,3,1
2,stronginmyfaith,,,1,7.0,0.0,0.0,0,3.0,en,1,1,laurie lindeman,NaN,3,1
3,Jessicaveronica,5th Dimension,"@TheVeronicas â°ÃÂ Wanderer, worshiper, if ...",222659,352.0,3261.0,143.0,1,10999.0,en,0,0,Jessica Veronica,NaN,3,1
4,resargento,brasil,meio ogra mas o coraÃ­_Ã­Â£o Ã­Â© de mocinha,646,446.0,2.0,13440.0,0,25292.0,pt,0,0,rebosta,NaN,2,1
5,crazyl1f,,,2,5.0,0.0,0.0,0,2.0,zh-cn,1,1,Songgaoyun Deng,NaN,3,1
6,TaniasimonTania,Milano,"Mechanical engineer, F1 fan and traveler _ÃÃÂ",27,25.0,0.0,17.0,0,50.0,it,1,0,Tania Simon,NaN,3,1
7,YCPRProf,Ã«ÃÃ«Â£Ã«_-â°_Ãâ¢Ã¼Â-Gamma Iota Advisor,"We are the music makers, and we are the dreame...",316,192.0,9.0,2257.0,0,7329.0,en,0,0,Dr. K. McBride,NaN,2,1
8,bandofhorses,,'Why Are You OK' out now - https://t.co/G7QeyE...,211616,8617.0,4071.0,1941.0,1,2037.0,en,0,0,Band of Horses,NaN,3,1
9,sparker,SF / LA / NYC,"Napster, Plaxo, Facebook, Causes, Spotify & Ai...",429604,600.0,4999.0,30.0,1,497.0,en,0,0,Sean Parker,NaN,3,1
10,gitamonte,"Campinas, Brasil",ariana com ascendente em cerveja com a lua no ...,106,153.0,0.0,973.0,0,1408.0,pt,1,0,Giovana Romanelli,NaN,3,1
11,junecohen,New York City,"After 11 years at TED, I'm now launching a con...",17118,385.0,950.0,4.0,0,3168.0,en,0,0,June Cohen,NaN,3,1
12,larryellison,,,94714,43.0,1137.0,0.0,1,1.0,en,1,0,Larry Ellison,NaN,3,1
13,PleasureEllis,"Silicon Valley, CA",#IAM Visionary | Innovator | Philanthropist | ...,1793645,428911.0,15982.0,6881.0,1,155671.0,en,0,0,Pleasure Ellis,NaN,3,1
14,Carl_C_Icahn,,"Chairman of Icahn Enterprises L.P.; etc., etc....",328658,110.0,4381.0,3.0,1,319.0,en,1,0,Carl Icahn,NaN,3,1
15,LillianSaysSo,"Seattle, WA","Director, Predictive Analytics & Business Inte...",1159,2524.0,152.0,160.0,0,4718.0,en,1,0,Lillian Taylor,NaN,3,1
16,SaraRoMenen,"New York, NY","Writer, Critic, Pop Culture Geek. Online Edito...",383,324.0,20.0,145.0,0,389.0,en,0,0,Sara RonceroMenendez,NaN,3,1
17,Readygov,U.S.A.,Don't wait. Communicate. Start your emergency ...,132562,842.0,3292.0,4046.0,1,5000.0,en,0,0,Readygov,NaN,3,1
18,50cent,NYC,It's the kid 50 Cent | G-Unit -- Download I'M ...,9021504,16.0,34282.0,11.0,1,13245.0,en,0,0,50cent,NaN,3,1
19,WonderboyMMA,Simpsonville South Carolina,Train - Fight - Win! I'm 57-0 kickboxer and 5 ...,74952,340.0,541.0,8101.0,1,7931.0,en,1,0,Stephen Thompson,NaN,3,1
20,NASA,,Explore the universe and discover our home pla...,22270820,263.0,87505.0,2329.0,1,46185.0,en,0,0,NASA,NaN,3,1
21,iPoonampandey,Mumbai,OFFICIAL account of PoonamPandey. Model & Actr...,829658,56.0,2714.0,490.0,0,16192.0,en,0,0,Poonam Pandey,NaN,3,1
22,Andrewdiazgonz1,"South Los Angeles, Los Angeles",FUCKKK DONALD DUMP TRUMP...HE IS NOT MY PRESIDENT,56,708.0,0.0,112.0,0,95.0,en,1,0,Andrew diazgonzales,NaN,3,1
23,"""Defendant_SBS""","""""","""Every Mon-Tues at 10 PM KST | Jisung, Uhm Kij...",1132,8.0,7.0,32.0,0,656.0,"""en""",1,0,"""SBS ___ ___""",NaN,3,1
24,Mah_Sebinelli,Brasil,"Estudante de arquitetura louÃ­_a por cinema, m...",40,51.0,0.0,19.0,0,914.0,en,0,0,Mayara Sebinelli,NaN,2,1
25,kaliedascope786,"New York, USA","Stage Manager, Writer, Leader...and more.",106,318.0,3.0,11.0,0,441.0,en,1,0,Denise Zeiler,NaN,3,1
26,kramergirl,Tree Hill/Nashville,Just a michigander living my dreams. My album ...,658530,369.0,2166.0,1163.0,1,13327.0,en,0,0,Jana Kramer,NaN,3,1
27,Alyssa_Milano,Los Angeles,I get political/personal here. Please follow m...,3039240,1744.0,35817.0,412.0,1,37953.0,en,0,0,Alyssa Milano,NaN,3,1
28,RobertVinluan,New York City,Designing and making games @nytdesign _ÃÂ si...,747,639.0,33.0,3649.0,0,3918.0,en,0,0,Robert Vinluan,NaN,3,1
29,Oprah,,,35916070,277.0,90152.0,147.0,1,11904.0,en,0,0,Oprah Winfrey,NaN,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,cesarmillan,"Los Angeles, CA",I rehabilitate dogs. I train people. I hope th...,1017758,6985.0,9473.0,12901.0,1,13786.0,en,0,0,Cesar Millan,NaN,3,1
1447,mayauofa213,"Tucson, AZ",,9,97.0,0.0,0.0,0,1.0,en,1,0,Carlos Maya,NaN,3,1
1448,Andy,"ÃÃT: 40.735225,-74.006791","folo: @bravowwhl, Insta: @bravoandy, Snap: And...",2000567,457.0,9674.0,901.0,1,55202.0,en,0,0,Andy Cohen,NaN,3,1
1449,"""VicenteTao""","""""","""""",11,53.0,0.0,1.0,0,13.0,"""en""",1,0,"""Tang Tao""",NaN,3,1
1450,kar2905,"Santa Monica, California","Founder @springroleinc, Masters grad from Carn...",1599,922.0,67.0,212.0,0,11240.0,en,0,0,Kartik Mandaville,NaN,3,1
1451,palalablo,,"If I could stay in the shower all day, I would.",82,91.0,0.0,634.0,0,704.0,es,0,0,Pablo,NaN,3,1
1452,dutt_ashish,"Bangalore, India","I'm Ashish Dutt, a Freelance Writer and Photog...",178,325.0,6.0,30.0,0,405.0,en,0,0,Ashish Dutt,NaN,3,1
1453,KellerSeason,,,46,233.0,0.0,935.0,0,285.0,en,1,0,season keller,NaN,3,1
1454,VitorBecker,Santos,,67,168.0,0.0,0.0,0,1851.0,en,0,0,Vitor Vaqueiro,NaN,3,1
1455,honorsociety,"Los Angeles, CA",https://t.co/qnAibV0nJv,147441,20889.0,0.0,43.0,1,7648.0,en,0,0,Honor Society,NaN,3,1
1456,brian_littrell,Some where over the rainbow :),Husband / Father/ Backstreet Boy / Christian A...,420699,108.0,5248.0,11.0,1,5568.0,en,0,0,Brian Littrell,NaN,3,1
1457,TomJackson57,,"Husband, Father, Bronco, ESPN NFL MNF Correspo...",63866,21.0,2037.0,40.0,1,70.0,en,0,0,Tom Jackson,NaN,3,1
1458,visu_bio,www.mnrindia.org,MNRF for Research n Innovation @ClubSciWri Alu...,1715,1342.0,84.0,3688.0,0,1395.0,en,0,0,Viswanadham Duppatla,NaN,3,1
1459,VivianePatty,Brasil/Rio de Janeiro,Estou a procura de amizades sinceras e bem leg...,5,67.0,0.0,0.0,0,2.0,pt,0,0,Viviane Patty,NaN,3,1
1460,mohsin_shk11,"Mumbai, India","Loves sports, movies and reading. Social media...",122,88.0,0.0,325.0,0,1031.0,en,0,0,Mohsin Shaikh,NaN,3,1
1461,Robbie_OC,,For Booking and Contact Eileen Koch & Company ...,4025,487.0,117.0,18.0,1,6672.0,en,0,0,Lewis Rocc,NaN,3,1
1462,MiThiicSource,Canada,13 // Co-Owner Of DSYR // @YouTube Content Cre...,52,39.0,0.0,689.0,0,206.0,en,0,0,mithiicsource,NaN,3,1
1463,"""JTJ_Photo""","""Washington, DC Metro Area""","""Photographer specializing in garden and lands...",30,72.0,4.0,1.0,0,926.0,"""en""",0,0,"""Josh Taylor""",NaN,2,1
1464,SkillzVa,Worldwide,DJ/Host/Artist/Grammy Nominated Songwriter/Mus...,41776,1158.0,854.0,1264.0,1,1096.0,en,0,0,Mad Skillz,NaN,3,1
1465,iamadityar,"New York, NY","Indian, Student of Science",52,323.0,2.0,696.0,0,767.0,en,0,0,Aditya Ramamurthy,NaN,3,1
1466,haileybaldwin,East Coast,Hailey Rhode Baldwin instagramÃ¤Ã³Â¢haileybald...,972032,3072.0,1587.0,1423.0,1,22362.0,en,0,0,Hailey Baldwin,NaN,3,1
1467,ahmadriaz,,,26,150.0,1.0,8.0,0,2.0,en,1,1,Ahmad Riaz,NaN,3,1
1468,thetrickisto,"Brooklyn, NY","Tell me your successes, I want to steal them. ...",215,462.0,16.0,812.0,0,2384.0,en,0,0,Rose Bender,NaN,3,1
1469,OKKenna,info@kenna.com,,64219,667.0,698.0,2901.0,1,85.0,en,0,0,Kenna,NaN,3,1
1470,MixologyBot,,Feeling adventurous? Try one of these!,310,0.0,21.0,3.0,0,3909.0,en,1,0,The Mixologist,NaN,3,1
1471,leslieberland,,"Twitter CMO. Favorite title: Mama. Never, ever...",18998,2005.0,425.0,2503.0,0,3498.0,en,0,0,Leslie Berland,NaN,3,1
1472,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",32,54.0,0.0,1.0,0,97.0,en,1,0,Samuel Littlefield,NaN,3,1
1473,jimmyfallon,"New York, New York",astrophysicist,45044433,7451.0,68157.0,24.0,1,9606.0,en,0,0,jimmy fallon,NaN,3,1
1474,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",16,64.0,1.0,15.0,0,62.0,en,0,0,Tammas Foxdene,NaN,3,1
1475,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,22490,308.0,1342.0,43.0,1,1897.0,en,1,0,Joe Barton,NaN,3,1

In [107]:
serial = -1
count = 0
unnec = []
for x in range(0, 1477):
    try:
        serial = serial + 1
        if(data2.loc[serial, 'Value']==2):
            data2.loc[serial, 'Value'] = 0
        else:
            data2.loc[serial, 'Value'] = 1
        count+= 1
    except:
        pass
count

1476

In [108]:
data_value = data2['Value']
datafinal = data2['user']
print("Accuracy Score: ", (accuracy_score(datafinal, data_value)))
cnf_matrix = confusion_matrix(datafinal, data_value)
print("Confusion Matrix:")
print(cnf_matrix)

Accuracy Score:  0.917344173442
Confusion Matrix:
[[   0    0]
 [ 122 1354]]

In [109]:
TP = 0
FP = 0
TN = 0
FN = 0

for i in range(len(data_value)): 
    if datafinal[i]==data_value[i]==1:
        TP += 1
        #print(i)
for i in range(len(data_value)): 
    if data_value[i]==1 and datafinal[i]!=data_value[i]:
        FP += 1
        #print(i)
for i in range(len(data_value)): 
    if datafinal[i]==data_value[i]==0:
        TN += 1
        #print(i)
for i in range(len(data_value)): 
    if data_value[i]==0 and datafinal[i]!=data_value[i]:
        FN += 1
        #print(i)